include ../../__common/function/dataFormatada.pug
include ../../__common/function/numeroToString3digitos.pug
include ../img/logoCapes.pug

.container
	.cabecalho
		.logo
			img(src=logoCapes())
			.logoTexto Educa-IO UAB
		div
			if instituicao
				.instituicao #{instituicao}
			if titulo
				.titulo #{titulo}
			if tema
				.tema #{tema}
			if nomeProfessor
				.professor Professor(a): #{nomeProfessor}
		.dataContainer
			if dataAplicacao
				span Data: #{dataFormatada(dataAplicacao)}
			span Prova nº: #{numeroToString3digitos(idNumero)}		
	fieldset.dadosAluno
		legend.dadosAluno Identificação do estudante
		if nomeCandidato
			div
				span.tituloCampo Nome:
				span.textoCampo #{nomeCandidato}
		if matricula
			div
				span.tituloCampo Matrícula:
				span.textoCampo #{matricula}
		.assinatura
			span.tituloCampo Assinatura:
			.linha