include ../../__common/function/dataFormatada.pug

.capa
  .cabecalho-capa
    .logo-cabecalho-capa
      img(src="https://3.bp.blogspot.com/-Zb26qXsSV_o/WsYWUNsFw8I/AAAAAAAB1Ik/1bHvrPB6NKANrnTQOsVcvf3Y8ePh23IrACLcBGAs/s1600/UFRN.png")
    .texto-cabecalho-capa
      span.titulo #{titulo}
      span.descricao #{descricao}
      if dataAplicacao
        span.data-aplicacao Data de aplicação: #{dataFormatada(dataAplicacao)}
      .divisor-cabecalho-capa
        img(src="https://3.bp.blogspot.com/-Zb26qXsSV_o/WsYWUNsFw8I/AAAAAAAB1Ik/1bHvrPB6NKANrnTQOsVcvf3Y8ePh23IrACLcBGAs/s1600/UFRN.png")
  include instrucoes.pug
  .assinatura
    span Assinatura do Candidato:
    .espaco