include ../../__common/function/composicaoCaderno.pug
include ../../__common/function/stringDuracao.pug

.leia Leia estas instruções:
.instrucoes
  -
    const variaveisDasInstrucoes = composicaoCaderno(provas)
    const quantidadeQuestoes = variaveisDasInstrucoes[0]
    const listaProvas = variaveisDasInstrucoes[1]
    const duracaoFormatada = duracao ? stringDuracao(duracao.hora, duracao.minuto) : ''
    let instrucaoReplaced = ''
  each instrucao, index in instrucoes
    .instrucao
      span.numero #{index + 1}
      -
        instrucaoReplaced = instrucao.replace('#lista_provas',listaProvas)
        instrucaoReplaced = instrucaoReplaced.replace('#quantidade_questoes',`${quantidadeQuestoes}`)
        instrucaoReplaced = instrucaoReplaced.replace('#duracao', duracaoFormatada)
      .texto-instrucao !{instrucaoReplaced}