doctype html
html
  head
    meta(charset='utf-8')
    include ../style/katexStyle.pug
    link(href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet")
    style
      include ../../__common/css/nodes.css
      include ../../__common/css/paragraph.css
      include ../../__common/css/horizontalRuler.css
      include ../../__common/css/table.css
      include ../css/geral.css
      include ../css/questao.css
      block estilo
  body
    block conteudo
    include ../../__common/script/scripts.pug
    