extends include/layout.pug

block estilo
  include style/provaStyle.pug

block conteudo
  include mixin/prova.pug
  .provas-caderno
    - let primeiraQuestao = 1
    each prova in provas
      - const { numeroDeQuestoesNaProva, titulo: tituloProva, grupos,temRedacao } = prova
      +prova({titulo: tituloProva, primeiraQuestao, numeroDeQuestoesNaProva, grupos, temRedacao})
      - primeiraQuestao += numeroDeQuestoesNaProva
      