extends include/layout.pug

block estilo
  include style/questaoStyle.pug
  include css/recursoDeQuestao.css

block conteudo
  include mixin/questao.pug
  include mixin/respostaCerta.pug
  div Concurso: #{tituloConcurso} 
  div Cargo: #{tituloCargo} 
  div Etapa: #{tituloEtapa}
  div Versão do caderno: #{apelidoDaVersaoDoCaderno}
  case questao.tipo
    when 'multiplaEscolha'
      div Resposta certa: #{questao.multiplaEscolha.respostaCerta}
    when 'bloco'
      div ERRO: Esse tipo de questão não é suportado aqui.
    default
      span ERRO: Esse tipo de questão não é suportado ainda.
  div Questão:
  .recurso-conteudo-questao
    +questao({questao})
