.alternativa {
  page-break-inside: avoid;
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
}

.texto-alternativa {
  flex-grow: 1;
  text-align: justify;
}

.letra-alternativa {
  margin-right: 5px;
  align-self: flex-start;
}

.indicacao-resposta {
  margin-right: 6px;
  color: rgb(40, 56, 77);
}
