.associacaoDeColunas {
  display: flex;
  align-items: flex-start;
  letter-spacing: 0.8px;
  page-break-inside: avoid;
}

.corpo-associacaoDeColunas {
  width: 100%;
}

.numero-questao {
  font-weight: bold;
  margin-right: 5px;
  width: 0.8cm;
}

.enunciado-associacaoDeColunas {
  margin-bottom: 10px;
  text-align: justify;
  width: 100%;
}

table.associacaoDeColunas {
  border-collapse: collapse;
  width: 100%;
}

tbody {
  width: 100%;
}

tr.associacaoDeColunas {
  border: 0px;
  padding-bottom: 5px;
}

td.inicio {
  width: 50%;
  padding: 20px 0 20px 50px;
  color: #293a4f;
  font-size: 14px;
  font-weight: 500;
}

td.fina {
  width: 10%;
  text-align: center;
}

td.fina > :nth-child(2) {
  padding: 0 2px;
}

td.final .resposta-candidato {
  color: rgb(40, 56, 77);
}

td.larga {
  width: 40%;
}

.label {
  width: fit-content;
}
