.bloco-questao {
  letter-spacing: 0.8px;
}

.bloco-questao > .questao {
  display: flex;
  margin-bottom: 35px;
  text-align: justify;
  align-items: flex-start;
}

.preview {
  margin-right: 1cm;
  margin-left: 1cm;
}

.frase-inicial {
  text-align: justify;
  font-weight: bold;
  margin-bottom: 30px;
}

.enunciado-bloco {
  text-align: justify;
  margin-bottom: 30px;
}
