.container {
  margin: 1px 0;
  padding: 0 15px;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  background-color: #fff;
  margin-bottom: 15px;
  color: rgb(40, 56, 77);
  font-family: 'Arial', 'sans-serif';
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img {
  width: 70px;
  padding-bottom: 5px;
}

.logoTexto {
  font-family: 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 1px;
  font-size: 12px;
}

.instituicao {
  letter-spacing: 1px;
  font-size: 12pt;
}

.titulo {
  font-size: 15pt;
  font-weight: 400;
  padding-top: 10px;
}

.tema {
  font-size: 9pt;
  padding-top: 10px;
  font-weight: 200;
}

.professor {
  font-size: 9pt;
  padding-top: 10px;
  font-weight: 200;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  font-size: 9pt;
  font-weight: 200;
  justify-content: space-between;
  height: 35px;
}

fieldset.dadosAluno {
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 40px;
  border-width: 1px;
  border-color: rgb(140, 140, 140);
}

fieldset :not(legend) {
  font-weight: 500;
}

legend.dadosAluno {
  text-align: center;
  font-size: 9.5pt;
  color: rgb(40, 40, 40);
}

fieldset > div:not(:last-child) {
  margin-bottom: 10px;
}

.textoCampo {
  font-size: 11pt;
  color: rgb(40, 40, 40);
}

.tituloCampo {
  margin-right: 10px;
  color: rgb(100, 100, 100);
  font-size: 9pt;
}

.assinatura {
  display: flex;
}

.linha {
  flex-grow: 1;
  border-bottom: 1px solid rgb(140, 140, 140);
}
