.capa {
  page-break-after: always;
  page-break-inside: avoid;
}

.cabecalho-capa {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo-cabecalho-capa {
  margin-right: 20px;
}

.logo-cabecalho-capa > img {
  width: 150px;
}

.texto-cabecalho-capa {
  text-align: center;
}

.divisor-cabecalho-capa > img {
  height: 3px;
  width: 100%;
}

.titulo,
.descricao {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.titulo,
.descricao,
.data-aplicacao {
  display: block;
  font-weight: bold;
}

.titulo {
  font-size: 22pt;
  margin-bottom: 20px;
}

.descricao {
  font-size: 15pt;
  margin-bottom: 20px;
}

.data-aplicacao {
  font-size: 11pt;
  margin-bottom: 10px;
}

.instrucoes > :nth-child(odd) {
  background-color: rgb(219, 229, 241);
}

.instrucoes {
  padding-bottom: 15px;
  border-bottom: 1px dotted darkgray;
}

.instrucao {
  display: flex;
  align-items: center;
  padding: 5px;
}

.instrucao > .numero {
  min-width: 20px;
  text-align: center;
  margin-right: 8px;
  font-weight: bold;
}

.texto-instrucao {
  letter-spacing: 0.8px;
  font-family: 'Questrial', sans-serif;
  line-height: 18px;
  font-size: 11pt;
}

.leia {
  font-family: 'Questrial', sans-serif;
  letter-spacing: 1px;
  font-size: 12pt;
  font-weight: bold;
  margin-bottom: 20px;
}

.assinatura {
  position: absolute;
  bottom: 0px;
  display: flex;
  width: 100%;
}

.assinatura > span {
  font-weight: bold;
  font-size: 11pt;
  letter-spacing: 0.8px;
  font-family: 'Questrial', sans-serif;
}

.assinatura > .espaco {
  flex-grow: 1;
  margin-left: 2px;
  border-bottom: 1px solid black;
}

.tema {
  display: flex;
  justify-content: space-between;
  font-size: 12pt;
  font-weight: bold;
  background-color: rgb(219, 229, 241);
  padding: 7px 5px;
  border-radius: 1px;
  margin-bottom: 20px;
  font-family: 'Questrial', sans-serif;
  page-break-before: always;
}
