.discursiva {
  display: flex;
  align-items: flex-start;
  letter-spacing: 0.8px;
  page-break-inside: avoid;
}

.corpo-discursiva {
  width: 100%;
}
.numero-questao {
  font-weight: bold;
  margin-right: 5px;
  width: 0.8cm;
}

.enunciado-discursiva {
  margin-bottom: 10px;
  width: 100%;
}

.pagina-em-branco {
  page-break-before: always;
}

table.discursiva {
  border-collapse: collapse;
  width: 100%;
}

.texto {
  text-align: justify;
  color: rgb(40, 56, 77);
}

tbody {
  width: 100%;
}

tr.discursiva {
  padding: 10px 0;
}
