td {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 3px;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
  margin: 20px 0;
}

th {
  border-collapse: collapse;
  border: 1px solid black;
}

.tabela-gabaritos {
  margin: 20px 0;
}

.elemento {
  display: flex;
  padding: 3px;
}

.titulo {
  font-size: 14px;
}
