.multipla-escolha {
  display: flex;
  align-items: flex-start;
  letter-spacing: 0.8px;
  page-break-inside: avoid;
}

.corpo-questao {
  width: 100%;
}

.enunciado {
  text-align: justify;
  margin-bottom: 10px;
}

.grupo-alternativa {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.alternativas {
  display: flex;
  flex-direction: row;
  text-align: justify;
  page-break-inside: avoid;
}

.grupo-alternativa + .grupo-alternativa {
  margin-left: 80px;
}

.alternativa:not(:first-child) {
  margin-top: 5px;
}
