.cabecalho-questao {
  page-break-after: avoid;
  margin-bottom: 5px;
}

.cabecalho-questao > :first-child {
  font-size: 10pt;
  color: rgb(40, 56, 77);
  font-weight: 600;
}

.cabecalho-questao > :nth-child(2) {
  font-size: 9pt;
  color: rgb(80, 80, 80);
}

.inseparavel-questao {
  page-break-inside: avoid;
}
