.barra-superior {
  display: flex;
  justify-content: center;
  font-size: 11pt;
  font-weight: bold;
  background-color: rgb(219, 229, 241);
  padding: 7px 5px;
  border-radius: 1px;
  margin-bottom: 20px;
  font-family: 'Questrial', sans-serif;
}

.tema-redacao > p {
  margin-top: 0;
}
.corpo-redacao {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.enunciado-redacao {
  width: 100%;
}

.enunciado-redacao p:first-child {
  margin-top: 0;
}

.instrucoes-redacao {
  width: 100%;
}

.instrucoes-edacao p:first-child {
  margin-top: 0;
}

.pagina-em-branco {
  page-break-before: always;
}

.rascunho-redacao {
  display: flex;
  justify-content: center;
}

.nao-assine {
  display: flex;
  justify-content: center;
  background: rgb(204, 204, 204);
  font-weight: bolder;
  width: fit-content;
  margin-left: 40%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table,
th,
td {
  border: 1px solid black;
  padding: 15px 0 15px 0;
}

td.primeira {
  width: 5%;
  text-align: center;
}

td.segunda {
  width: 95%;
}
