.footer {
  width: 100%;
  margin: 0 50px;
  padding-top: 5px;
  border-top: 1px dotted lightgray;
  display: flex;
  justify-content: space-between;
}
.footer span {
  font-size: 6pt;
  float: right;
}
.logo {
  height: 20px;
}
