.vouf {
  display: flex;
  align-items: flex-start;
  letter-spacing: 0.8px;
  page-break-inside: avoid;
}

.corpo-questao-vouf {
  width: 100%;
}

.numero-questao {
  font-weight: bold;
  margin-right: 5px;
  width: 0.8cm;
}

.enunciado-vouf {
  text-align: justify;
  margin-bottom: 10px;
}

.alternativas-vouf {
  display: flex;
  flex-direction: column;
  page-break-inside: avoid;
}

.alternativa-vouf:not(:first-child) {
  margin-top: 5px;
}

.alternativa-vouf {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
}

.resposta {
  color: rgb(40, 56, 77);
  padding: 0 2px;
}

.parenteses {
  margin-left: 3px;
}

.grupo {
  display: flex;
  align-items: center;
}

.texto-alternativa-vouf {
  flex-grow: 1;
  padding-left: 10px;
  width: 500px;
  text-align: justify;
}
