include multiplaEscolha.pug
include ../../__common/function/numeroToString.pug
include ../../__common/function/getInicioFimGrupo.pug

mixin bloco({enunciado, bloco})
  .bloco-questao
    -
      const { questoes } = bloco
      let {fraseInicial} = bloco
      const {inicial, final} = getInicioFimGrupo(questoes)
      const fraseInicialReplaced = fraseInicial
        .replace('#inicial', inicial)
        .replace('#final', final)
        console.log(fraseInicialReplaced)
    .frase-inicial 
      b !{fraseInicialReplaced}
    if enunciado
      .enunciado-bloco !{enunciado}
      div(style="clear: both")
    each questao in questoes
      - const { tipo, numeroNaInstancia } = questao
      if tipo === "multiplaEscolha"
        .multipla-escolha
          +multiplaEscolha(questao)
      else 
        span #{tipo} TIPO DE QUESTÃO INVÁLIDO