include ../../__common/function/numeroToString.pug

mixin cabecalhoProva(titulo, numeroInicial, quantidade, temRedacao)
  - const numeroFinal = numeroInicial + quantidade - 1
  div(class= temRedacao ? 'cabecalho-redacao' : 'tema')
    span #{titulo}
    if !temRedacao
      if numeroFinal > 0
        - const provaComUmaQuestao = numeroInicial === numeroFinal
        span #{numeroToString(numeroInicial)}#{!provaComUmaQuestao ? ` a ${numeroToString(numeroFinal)}`: ''}
    
