include grupoAlternativa.pug
include ../../__common/function/gruposAlternativa.pug

mixin multiplaEscolha({numeroNaInstancia, enunciado, multiplaEscolha})
  - if(!numeroNaInstancia) numeroNaInstancia = 0
  .corpo-questao
    .numero-e-enunciado 
      .numero-questao #{numeroToString(numeroNaInstancia)}.
      .enunciado !{enunciado}
    - const { alternativas, alternativasPorLinha } = multiplaEscolha
    if alternativas.length > 0
      .alternativas
        - const grupos = gruposAlternativa(alternativas, alternativasPorLinha)
        each grupo in grupos
          +grupoAlternativa(grupo)
