include ../../__common/function/numeroToString.pug
include cabecalhoProva.pug
include multiplaEscolha.pug
include bloco.pug
include redacao.pug

mixin prova({titulo, primeiraQuestao, numeroDeQuestoesNaProva, grupos, temRedacao})
  +cabecalhoProva(titulo, primeiraQuestao, numeroDeQuestoesNaProva, temRedacao)
  each grupo in grupos
    .paratexto !{grupo.paratextoInicial}
    .questoes
      each questao in grupo.questoes
        - const { tipo, numeroNaInstancia } = questao
        if tipo === "multiplaEscolha"
          .multipla-escolha
            +multiplaEscolha(questao)
        else if tipo === "bloco"
          +bloco(questao)
        else if tipo === "redacao"
          +redacao(questao)
    .paratexto !{grupo.paratextoFinal}
