include bloco.pug
include multiplaEscolha.pug

mixin questao({ questao })
  case questao.tipo
    when 'multiplaEscolha'
      .multipla-escolha
        span.numero-questao
        +multiplaEscolha({enunciado: questao.enunciado, multiplaEscolha: questao.multiplaEscolha})
    when 'bloco'
      +bloco({enunciado: questao.enunciado, bloco: questao.bloco})
    default
      span ERRO: Esse tipo de questão não é suportado ainda.