include ../../__common/function/dataFormatada.pug

.cabecalho
	if instituicao
		p.instituicao #{instituicao.toUpperCase()}
	p.titulo #{titulo.toUpperCase()}
	if dataAplicacao
		p.data Data de aplicação: #{dataFormatada(dataAplicacao)}
	if professor
		p.professor Professor(a): #{professor}