include ../../__common/function/composicaoCaderno.pug
include ../../__common/function/stringDuracao.pug

.leia Leia estas instruções:
.instrucoes
  -
    const { quantidadeQuestoes, listaProvas } = provas ? composicaoCaderno(provas) : { quantidadeQuestoes: '#lista_provas', listaProvas: '#quantidade_questoes'}
    const duracaoFormatada = duracao ? stringDuracao(duracao.hora, duracao.minuto) : '#duracao'
  each instrucao, index in instrucoes
    .instrucao
      span.numero-instrucao #{index + 1}
      -
        const instrucaoReplaced = instrucao
          .replace('#lista_provas', listaProvas)
          .replace('#quantidade_questoes',`${quantidadeQuestoes}`)
          .replace('#duracao', duracaoFormatada)
      .texto-instrucao !{instrucaoReplaced}
