.container {
  margin: 1px 0;
  page-break-inside: avoid;
}
.container > * {
  padding: 3px;
  min-width: 20px;
  box-sizing: border-box;
  border-width: 1px;
}
.container.dotted > * {
  border-style: dotted;
}
.container.solid > * {
  border-style: solid;
}
.container.hidden > * {
  border-style: hidden;
}
