mixin alternativa(alternativa, respostaCandidato)
  - const { letraNaInstancia, texto } = alternativa
  .alternativa
    if respostaCandidato && respostaCandidato === letraNaInstancia
      span.indicacao-resposta ✓
    span.letra-alternativa #{letraNaInstancia.toLowerCase()})
    .texto-alternativa !{texto}
  div(style="clear: both")
  
