mixin associacaoDeColunas({enunciado, associacaoDeColunas})
  .corpo-associacaoDeColunas 
    div(style="clear: both")
    - let n = 0;
    - const { colunaA, colunaB } = associacaoDeColunas
    - let numLinhas = (colunaA.length > colunaB.length ? colunaA.length : colunaB.length)
    table.associacaoDeColunas
      while n < numLinhas
        tr.associacaoDeColunas
          td.fina
            if colunaA[n]
              - const { rotulo } = colunaA[n]
              span (
              span !{rotulo ? rotulo : "&nbsp;&nbsp;"}
              span ) 
          td.larga
            if colunaA[n]
              - const { conteudo } = colunaA[n]
              .label !{conteudo}  
          td.fina
            if colunaB[n]
              - const { respostaCandidato, conteudo } = colunaB[n]
              span (
              span.resposta !{respostaCandidato ? respostaCandidato : "&nbsp;&nbsp;"}
              span ) 
          td.larga
            if colunaB[n]
              - const { conteudo } = colunaB[n]
              .label !{conteudo}  
        - n++
          