include multiplaEscolha.pug
include vouf.pug
include discursiva.pug
include associacaoDeColunas.pug
include ../../__common/function/numeroToString.pug
include ../../__common/function/getInicioFimGrupo.pug

mixin bloco({enunciado, bloco})
  .bloco-questao
    -
      const { questoes } = bloco
      let {fraseInicial} = bloco
      const {inicial, final} = getInicioFimGrupo(questoes)
      fraseInicial = fraseInicial
        .replace('#inicial',inicial)
        .replace('#final',final)
    .frase-inicial !{fraseInicial}
    if enunciado
      .enunciado-bloco !{enunciado}
      div(style="clear: both")
    if questoes.length > 0
      each questao in questoes
        - const { tipo, numeroNaInstancia } = questao
        if tipo === "multiplaEscolha"
          .questao
            if numeroNaInstancia
              span.numero-questao #{numeroToString(questao.numeroNaInstancia)}.
            else
              span.numero-questao
            +multiplaEscolha(questao)
        else if tipo === "vouf"
          .questao
            if numeroNaInstancia
              span.numero-questao #{numeroToString(numeroNaInstancia)}.
            else
              span.numero-questao
            +vouf(questao)
        else if tipo === "discursiva"
          .questao
            if numeroNaInstancia
              span.numero-questao #{numeroToString(numeroNaInstancia)}.
            else
              span.numero-questao
            +discursiva(questao)
        else if tipo === "associacaoDeColunas"
          .questao
            if numeroNaInstancia
              span.numero-questao #{numeroToString(numeroNaInstancia)}.
            else
              span.numero-questao
            +associacaoDeColunas(questao)