mixin discursiva({enunciado, discursiva})
  .corpo-discursiva 
    div(style="clear: both")
    - let n = 0, i = 0;
    - const numMaxLinhasPorPagina = 20;
    - const numCaractPorLinha = 80
    - const { numeroDeLinhas, respostaCandidato } = discursiva
    - let numPaginas = Math.ceil(numeroDeLinhas / numMaxLinhasPorPagina)
    if (respostaCandidato)
      .texto !{respostaCandidato}
    else
      while i < numPaginas
        table.discursiva
          while n < numeroDeLinhas
              tr.discursiva
                td
              - n++
              - let chegouEm20Linhas = ( n % numMaxLinhasPorPagina === 0) 
              if (chegouEm20Linhas) 
                - break; 
        - i++
        if(i < numPaginas)
          .pagina-em-branco
        
        
  
    
      
