include grupoAlternativa.pug
include ../../__common/function/gruposAlternativa.pug

mixin multiplaEscolha({enunciado, multiplaEscolha})
  .corpo-questao
    div(style="clear: both")
    - const { alternativas, alternativasPorLinha, respostaCandidato } = multiplaEscolha
    if alternativas.length > 0
      .alternativas
        each grupo in gruposAlternativa(alternativas, alternativasPorLinha)
          +grupoAlternativa(grupo, respostaCandidato)
