include multiplaEscolha.pug
include discursiva.pug
include vouf.pug
include associacaoDeColunas.pug

mixin questao({ questao })
  - const { valor, tipo, numeroNaInstancia, enunciado } = questao
  .questao
    .inseparavel-questao
      .cabecalho-questao
        span Questão #{numeroNaInstancia} 
        if valor
          span  (Valor #{valor})
      .enunciado !{enunciado}
    case questao.tipo
      when 'multiplaEscolha'
        +multiplaEscolha(questao)
      when 'vouf'
        +vouf(questao)
      when 'associacaoDeColunas'
        +associacaoDeColunas(questao)
      when 'discursiva'
        +discursiva(questao)
      default
        span Esse tipo de questão não é suportado ainda.