mixin redacao({enunciado, redacao})
  - const { tema, instrucoes, numeroDeLinhas } = redacao
  .corpo_redacao 
    .tema-redacao !{tema}
    .barra-superior PROPOSTA DE REDAÇÃO
    .enunciado-redacao !{enunciado}
    .barra-superior INSTRUÇÕES
    .instrucoes-redacao !{instrucoes}
  - let n = 0, i = 0;
  - const numMaxLinhasPorPagina = 20;
  - let numPaginas = Math.ceil(numeroDeLinhas / numMaxLinhasPorPagina)
  .pagina-em-branco
  .rascunho-redacao RASCUNHO
  while i < numPaginas
    table
      while n < numeroDeLinhas
          tr
            td.primeira=n+1
            td.segunda
          - n++
          - let chegouEm20Linhas = ( n % numMaxLinhasPorPagina === 0) 
          if (chegouEm20Linhas) 
            - break; 
    - i++
    if(i < numPaginas)
      .pagina-em-branco
  .nao-assine (NÃO ASSINE O TEXTO)
        
        
  
    
      
