mixin respostaCerta({ questao })
  case questao.tipo
    when 'multiplaEscolha'
      div Resposta certa: #{questao.multiplaEscolha.respostaCerta}
    when 'bloco'
      div Esse tipo de questão não é suportado aqui.
    default
      span Esse tipo de questão não é suportado ainda.