mixin tabelaGabarito(tabela)
  - const { header, linhas, etapa, cargo, caderno } = tabela
  .titulo
    b #{cargo.titulo}
    span  - #{etapa.titulo} - #{caderno.titulo}
  .tabela-gabaritos
    table
      tr
        th 
          .elemento Questões
        each apelido in header
          th 
            .elemento Tipo #{apelido}
      each linha, indexLinha in linhas
        tr
          td 
            .elemento #{indexLinha + 1}
          each resposta in linha
            td 
              .elemento #{resposta}