include ../../__common/function/numeroToString.pug

mixin tema(assunto, numeroInicial, numeroFinal)
  .tema
    span #{assunto}
    - const provaComUmaQuestao = numeroInicial === numeroFinal
    span #{numeroToString(numeroInicial)}#{!provaComUmaQuestao ? ` a ${numeroToString(numeroFinal)}`: ''}
