mixin vouf({enunciado, vouf})
  .corpo-questao-vouf
    div(style="clear: both")
    - const { afirmacoes } = vouf
    if afirmacoes.length > 0
      - let i = 1
      .alternativas-vouf
        each afirmacao in afirmacoes
          - const { respostaCandidato, texto } = afirmacao
          .alternativa-vouf 
            p !{i}. 
            .parenteses
              span (
              span.resposta !{respostaCandidato ? respostaCandidato : '&nbsp;&nbsp;'}
              span )
            .texto-alternativa-vouf !{texto}
          div(style="clear: both")
          - i += 1
