extends include/layout.pug

block estilo
  include style/previewAssociacaoDeColunasStyle.pug

block conteudo
  include ../__common/function/numeroToString.pug
  include mixin/associacaoDeColunas.pug
  .associacaoDeColunas
    span.numero-questao
    +associacaoDeColunas({enunciado, associacaoDeColunas})
    
