extends include/layout.pug

block estilo
  include style/cadernoStyle.pug

block conteudo
  include mixin/tema.pug
  include mixin/prova.pug

  .caderno
    include include/capa.pug
    - let numeroInicial = 1
    each prova in provas
      -
        const { tema, numeroDeQuestoesNaProva } = prova
        const numeroFinal = numeroInicial + numeroDeQuestoesNaProva - 1
      +tema(tema, numeroInicial, numeroFinal)
      - numeroInicial += numeroDeQuestoesNaProva
      each grupo in prova.grupos
        .paraTexto !{grupo.paratextoInicial}
        +prova(grupo.questoes)
        .paraTexto !{grupo.paratextoFinal}