extends include/layout.pug

block estilo
  include style/previewDiscursiva.pug

block conteudo
  include ../__common/function/numeroToString.pug
  include mixin/discursiva.pug
  .discursiva
    span.numero-questao
    +discursiva({enunciado, discursiva})
    
