extends include/layout.pug

block estilo
  include style/previewMultiplaEscolhaStyle.pug

block conteudo
  include ../__common/function/numeroToString.pug
  include mixin/multiplaEscolha.pug
  .multipla-escolha
    span.numero-questao
    +multiplaEscolha({enunciado, multiplaEscolha})
    
