extends include/layout.pug

block estilo
  include style/provaStyle.pug

block conteudo
  include mixin/prova.pug
  include include/cabecalho.pug

  each grupo in grupos
    .paraTexto !{grupo.paratextoInicial}
    +prova(grupo.questoes)
    .paraTexto !{grupo.paratextoFinal}
