extends include/layout.pug

block estilo
  include style/provaStyle.pug

block conteudo

  - let dataAplicacao = null
  - const {titulo, tema, instituicao, tipoEmbaralhamento, nomeProfessor, nomeCandidato, matricula, idNumero} = prova

  if (!!virtual)
    - dataAplicacao = virtual.dataIniciouResolucao
  else
    if (!!papel)
      - dataAplicacao = papel.dataAplicacao

  include mixin/prova.pug
  include include/cabecalho.pug

  - const { grupos } = prova
  each grupo in grupos
    .paraTexto !{grupo.paratextoInicial}
    +prova(grupo.questoes)
    .paraTexto !{grupo.paratextoFinal}







  