extends include/layout.pug

block estilo
  include style/previewBlocoStyle.pug
  include style/previewMultiplaEscolhaStyle.pug
  include css/recursoDeQuestao.css
  include style/previewDiscursiva.pug
  include style/previewVoufStyle.pug
  include style/previewAssociacaoDeColunasStyle.pug
  

block conteudo
  include mixin/questao.pug
  include mixin/respostaCerta.pug
  div Concurso: #{tituloConcurso} 
  div Cargo: #{tituloCargo} 
  div Etapa: #{tituloEtapa}
  div Versão do caderno: #{apelidoDaVersaoDoCaderno}
  +respostaCerta({questao})
  div Questão:
  .recurso-coteudo-questao
    +questao({questao})
