extends include/layout.pug

block estilo
  include style/previewVoufStyle.pug

block conteudo
  include ../__common/function/numeroToString.pug
  include mixin/vouf.pug
  .vouf
    span.numero-questao
    +vouf({enunciado, vouf})
    
