.alternativa {
  width: 16.2cm;
  display: block;
}

.texto-alternativa {
  width: 15.4cm;
  display: inline-block;
  vertical-align: top;
}

.letra-alternativa {
  width: 0.6cm;
  display: inline-block;
  font-weight: bold;
}
