.bloco-questao > .multipla-escolha:not(:last-child) {
  margin-bottom: 20px;
}

.preview {
  margin-right: 1cm;
  margin-left: 1cm;
}

.frase-inicial {
  margin-bottom: 10px;
}

.enunciado-bloco {
  margin-bottom: 10px;
  page-break-inside: avoid;
}
