.capa {
  font-family: 'Questrial', sans-serif;
}

.cabecalho-capa {
  margin-bottom: 20px;
}

.instrucoes > :nth-child(odd) {
  background-color: rgb(198, 217, 241);
}

.instrucoes {
  padding-bottom: 15px;
  border-bottom: 1px dotted darkgray;
}

.instrucoes > * {
  display: flex;
  align-items: center;
  padding: 5px 5px;
}

.instrucao {
  page-break-inside: avoid;
}

.numero-instrucao {
  min-width: 20px;
  text-align: center;
  margin-right: 12px;
  font-weight: bold;
}

.texto-instrucao {
  line-height: 18px;
  font-size: 11pt;
}

.leia {
  letter-spacing: 1px;
  font-size: 12pt;
  font-weight: bold;
  margin-bottom: 20px;
}

.conteudo-inferior {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
}

.assinatura {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.assinatura > span {
  font-weight: bold;
  font-size: 10pt;
}

.espaco-assinatura {
  flex-grow: 1;
  border-bottom: 0.5px solid black;
  margin-left: 3px;
}

.rodape-capa {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.frase-capa {
  font-size: 8pt;
  font-weight: bold;
  text-align: center;
}

.logo-rodape,
.espaco-rodape {
  width: 150px;
}

.rosto-capa {
  page-break-before: always;
  opacity: 0;
}
