.multipla-escolha {
  display: block;
}

.corpo-questao {
  width: 100%;
  position: relative;
}

.alternativas {
  display: table;
  margin-left: 0.8cm;
  margin-top: 10px;
  page-break-inside: avoid;
  width: 16.2cm;
}

.grupo-alternativa {
  display: table-row;
  width: 16.2cm;
}

.numero-questao {
  display: inline-block;
  font-weight: bold;
  width: 0.8cm;
  vertical-align: top;
}

.alternativa:not(:first-child) {
  margin-top: 8px;
}

.numero-e-enunciado {
  page-break-inside: avoid;
}

.enunciado {
  display: inline-block;
  width: 16.2cm;
}
