.tema,
.cabecalho-redacao {
  background-color: rgb(198, 217, 241);
  font-size: 12pt;
  font-weight: bold;
  border-radius: 1px;
  margin-bottom: 20px;
  font-family: 'Questrial', sans-serif;
  padding: 5px;
  width: '17cm';
}

.tema {
  display: flex;
  justify-content: space-between;
  padding: 7px 5px;
  page-break-before: always;
}

.questoes {
  margin-bottom: 20px;
}

.questoes > :not(:last-child) {
  margin-bottom: 20px;
}

.paratexto {
  font-size: 10pt;
  page-break-inside: avoid;
}
