include numeroToString.pug
-
  function composicaoCaderno(provas) {
    const provasComRedacao = provas.filter(prova => prova.temRedacao)
    
    const quantidadeRedacao = provasComRedacao.length
    const quantidadeQuestoes = provas.reduce((quantidade, prova) => quantidade + prova.numeroDeQuestoesNaProva, 0)
    let numero = 1
    const dadosProvas = provas.map(prova => {
      const { titulo, numeroDeQuestoesNaProva,temRedacao } = prova
      const numeroInicial = numero
      const numeroFinal = numeroInicial + numeroDeQuestoesNaProva - 1
      numero = numeroFinal + 1
      const provaComUmaQuestao = numeroInicial === numeroFinal
      return `<strong>${numeroToString(numeroInicial)}${!provaComUmaQuestao ? ` a ${numeroToString(numeroFinal)}` : ''}</strong> &rArr; ${titulo}`
    })
    dadosProvas.splice(0, quantidadeRedacao)
    const retornoQuantidadeQuestoes = `<strong>${numeroToString(quantidadeQuestoes)} ${quantidadeQuestoes===1?'questão':'questões'}</strong>`
    if (quantidadeRedacao) {
      return {
        quantidadeQuestoes: `<strong>${numeroToString(quantidadeRedacao)}</strong> ${quantidadeRedacao===1?' proposta de Redação':'propostas de Redações'} e ${retornoQuantidadeQuestoes}`,
        listaProvas: dadosProvas.join('; ')
      }
    } else {
      return { quantidadeQuestoes: retornoQuantidadeQuestoes, listaProvas: dadosProvas.join('; ') }
    }
  }

