-
  function getInicioFimGrupo(questoes) {
    const indexInicio = 0
    const indexFim = questoes.length-1
    return (
      {'inicial':questoes[indexInicio].numeroNaInstancia || indexInicio + 1,'final':questoes[indexFim].numeroNaInstancia || indexFim + 1}
    )
  }