-
  function gruposAlternativa(alternativas, quantidadePorLinha=1) {
    const cloneAlternativas = [...alternativas]
    const indiceDeQuebra = Math.ceil(alternativas.length/quantidadePorLinha)
    const blocos = []  
    while (cloneAlternativas.length > 0) {
      blocos.push(cloneAlternativas.splice(0, indiceDeQuebra))
    }
    return blocos
  }