-
  function stringDuracao(hora,minuto) {
    let duracao = []
    let strHora = hora
    let strMinuto = minuto
    if (!isNaN(hora) && hora > 0) {
      strHora += hora === 1 ? ' hora' : ' horas'
      duracao.push(strHora)
    }
    if (!isNaN(minuto) && minuto > 0) { 
      strMinuto += minuto === 1 ? ' minuto' : ' minutos'
      duracao.push(strMinuto)
      
    }
    if (duracao.length < 1) {
      duracao = '[Duração não definida]'
    }
    else {
      duracao = duracao.join(' e ')
    }
    return duracao
  }